timelog
.env
dev.env
.env.prod
.env.prod.db
db.dev.env
docker-compose.yml
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles
postgres-data/
celerybeat-schedule