{% extends '../_base.html' %}

{% block title %}List of Languages{% endblock title %}

{% block content %}
<h1>List of Languages</h1>

<table>
    <thead>
        <tr>
            <th>Language Name</th>
            <th>Short Code</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for language in languages %}
        <tr>
            <td>{{ language.name }}</td>
            <td>{{ language.abbreviation }}</td>
            <td>
                <a href="{{ language.get_absolute_url }}" class="btn btn-primary">Details</a>
                <a href="{% url 'update_pl' language.pk %}" class="btn btn-primary">Update</a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td>No programming language added to database yet</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}