{% load static %}
<div class="card problem-card" style="width: 18rem;">
    <img src="{% static 'assets/coding.jpg' %}" alt="card header" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title"><a href="{{ problem.get_absolute_url }}">{{ problem.title }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ problem.published | timesince }}</h6>
        <p class="card-text">
            <small>
                Created by: <a href="{% url 'user_profile' problem.author.id %}">{{ problem.author }}</a> <br>
                Language: {% if problem.language %}{{ problem.language }}{% else %}Not Specified{% endif %}
            </small>
        </p>
    </div>
</div>
