{% extends '../_base.html' %}

{% load markdown_extras %}
{% load static %}
{% load martortags %}
{% load custom_comment_tags %}

{% block title %}Problem - Details{% endblock title %}

{% block css %}
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'styles/problems.css' %}">
{% endblock css %}



{% block content %}
<h1>{{ problem.title }}</h1>
<div class="problem-details-container">
    <span class="problem-details-head">Created by: </span>
        <a href="{% url 'user_profile' problem.author.id %}">{{ problem.author.username }}</a> | 
    <span class="problem-details-head">Language: </span>{{ problem.language }} |
    <span class="problem-details-head">Created on: </span>{{ problem.created }}
    <span class="problem-details-head">Difficulty: </span>{{ problem.difficulty | title }}
</div>
<div class="program-tags-container">
    Tags: 
    {% for tag in problem.tags.all %}    
        <a href="{% url 'same_tag' tag.slug %}">{{ tag.name }}</a>&nbsp;
    {% endfor %}
</div>
{% autoescape off %}
    <p>{{ problem.description }}</p>
{% endautoescape %}
{% if problem.author.username == request.user.username %}
<p>
    <a href="{% url 'update_problem' problem.pk %}" class="btn btn-info btn-sm">Update Problem</a>
    <a href="{% url 'delete_problem' problem.pk %}" class="btn btn-danger btn-sm">Delete Problem</a>
</p>
{% endif %}

<h4>Leave a comment</h4>
<form method="post" novalidate>
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit" name="comment" class="btn btn-info btn-sm">Comment</button>
</form>

<div>
    {% for comment in comments %}
        {% stylized_problem_comment comment %}
    {% empty %}
        <p>This problem doesn't have any comments</p>
    {% endfor %}
</div>
{% endblock content %}


{% block js %}
<script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script>
    $('pre').each(function(i, block){
        hljs.highlightBlock(block);
    });
    $('.ui.dropdown').dropdown();
</script>
{% endblock js %}