{% extends '../_base.html' %}

{% block title %}Problem - Details{% endblock title %}

{% block content %}
<h1>{{ problem.title }}</h1>
<h3>Created by: {{ problem.author.username }} | Language: {{ problem.language }}</h3>
<ul>
{% for tag in problem.tags.all %}    
    <li>{{ tag.name }}</li>
{% endfor %}
</ul>
<p>{{ problem.description }}</p>
<pre>{{ problem.code }}</pre>
<p>
    <a href="{% url 'update_problem' problem.pk %}" class="btn btn-info btn-sm">Update Problem</a>
    <a href="{% url 'delete_problem' problem.pk %}" class="btn btn-danger btn-sm">Delete Problem</a>
</p>
{% endblock content %}