{% extends '../_base.html' %}

{% block title %}Problem - Details{% endblock title %}

{% block content %}
<h1>{{ problem.title }}</h1>
<h3>Created by: {{ problem.author.username }} | Language: {{ problem.language }}</h3>
{% for tag in problem.tags.all %}    
    <a href="{% url 'same_tag' tag.slug %}">{{ tag.name }}</a>,
{% endfor %}
{% autoescape off %}
    <p>{{ problem.description }}</p>
{% endautoescape %}
<pre>{{ problem.code }}</pre>
<p>
    <a href="{% url 'update_problem' problem.pk %}" class="btn btn-info btn-sm">Update Problem</a>
    <a href="{% url 'delete_problem' problem.pk %}" class="btn btn-danger btn-sm">Delete Problem</a>
</p>

<h4>Leave a comment</h4>
<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit" name="comment" class="btn btn-info btn-sm">Comment</button>
</form>

<div>
    {% for comment in comments %}
        <div>
            <p>{{ comment.body }} by {{ comment.commenter.username }}</p>
            <small>{{ comment.created }} <a href="{% url 'delete_comment' comment.pk %}">Remove</a></small>
        </div>
    {% empty %}
        <p>This problem doesn't have any comments</p>
    {% endfor %}
</div>
{% endblock content %}