{% extends '../_base.html' %}

{% block title %}Problems{% endblock title %}

{% block content %}
<h1>Problems</h1>
<p><a href="{% url 'create_problem' %}" class="btn btn-info">Create Problem</a></p>
{% for problem in problems %}
    <div>
        <h4><a href={{ problem.get_absolute_url }}>{{ problem.title }}</a></h4>
        <p>Created by: {{ problem.author }} | Language: {{ problem.language }} | submitted on: {{ problem.published }}</p>
        <p>{{ problem.description }}</p>
    </div>
{% empty %}
    <p>There are no problem yet!!</p>
{% endfor %}
{% endblock content %}