{% extends '../_base.html' %}
{% load static %}
{% load problems_custom_tags %}

{% block title %}Problems{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/problems.css' %}">
{% endblock css %}

{% block content %}
<h1>Problems</h1>

{% if query %}
<h3>Problems with "{{ query }}" in their title are: </h3>
{% endif %}

{% if tag %}
    <h3>Problems with tag "{{ tag.name }}" are: </h3>
{% else %}
    <p><a href="{% url 'create_problem' %}" class="btn btn-info">Create Problem</a></p>
{% endif %}


<div class="container-fluid" id="problems-container">
    {% for problem in problems %}
        {% problem_info_in_list problem %}
    {% empty %}
        <p>There are no problem yet!!</p>
    {% endfor %}
</div>
{% endblock content %}