{% extends '../_base.html' %}

{% load static %}
{% load martortags %}

{% block title %}Blog - {{ blog.title }}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/blog-styles.css' %}">
<style>
{% if blog.cover %}
#blog-cover-container{
    background-image: url("{{ blog.cover.url }}");
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
{% endif %}
</style>

{% endblock css %}

{% block content %}
<div>
    {% if blog.cover %}
        <div id="blog-cover-container" >
        </div>
    {% endif %}
    <h1>{{ blog.title }}</h1>
    <div>
        <small>Author: <a href="{% url 'user_profile' blog.author.id %}">{{ blog.author }}</a>, Created on: {{ blog.created }}</small>
    </div>
    {% if blog.author.username == request.user.username %}
    <div>
        <small>
            <a href="{% url 'update_blog' blog.pk %}">edit</a> &nbsp;
            <a href="{% url 'delete_blog' blog.pk %}">remove</a>
        </small>
    </div>
    {% endif %}
</div>
<hr>
<div id="blog-post">{{ blog.body | safe_markdown }}</div>

<h4>Leave a comment</h4>
<form method="post" novalidate>
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit" name="comment" class="btn btn-info btn-sm">Comment</button>
</form>

<div>
    {% for comment in comments %}
        <div>
            <p>{{ comment.body | safe_markdown }} by {{ comment.commenter.username }}</p>
            <small>
                {{ comment.created }} 
            </small>
        </div>
    {% empty %}
        <p>This blog doesn't have any comments</p>
    {% endfor %}
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'scripts/blogs.js' %}"></script>
{% endblock js %}