{% extends '../_base.html' %}
{% load static %}
{% load blogs_custom_tags %}

{% block title %}Blogs{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/blogs.css' %}">
<style>
    .latest-blog-container{
        background-image: url("{% static 'assets/latest_blog_background.jpg' %}");
    }
</style>
{% endblock css %}

{% block content %}
<div class="latest-blog-container">
    <h3 class="latest-blog-title"><a href="{% url 'detail_blog' latest_blog.id %}">{{ latest_blog.title }}</a></h3>
    <p  class="latest-blog-body">{{ latest_blog.body | truncatechars:200 }}</p>
</div>

<div class="blog-list-container">
    {% for blog in blogs %}
        {% blog_info_in_list blog %}
    {% empty %}
        <div>No blogs yet!</div>
    {% endfor %}
</div>

{% endblock content %}