{% load static %}

{% block css %}
<style>
.comment-body{
    border: 1px solid gray;
}
</style>
{% endblock css %}

<div>
    <h3>Hello {{ receiver }},</h3>

    <div>{{ new_comment.commenter }} has just posted a new comment in {{ new_comment.problem.title }}. Check out the comment:</div>

    <div class="comment-body">
    {{ new_comment.body }}
    </div>

    <!--<div>Alternatively, <a href="{{ site_name }}/{% url 'detail_problem' new_comment.problem.pk %}">click here</a> to go to CoCo.</div>-->

    <br>
    <div>Team CoCo</div>
</div>