#martor-body{
    font-size: 1.1em;
    height: 100vh;
}

#blog-post p img {
    width: 100%;
}

#blog-form-controls{
    display: flex;
    justify-content: space-between;
}

#id_title{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(184, 181, 181);
    border-radius: 0;
    margin: 20px auto 30px auto;
    height: 80px;
    font-size: 3em;
    text-align: center;
}

#id_body{
    height: 100px;
    width: 100%;
}

#leave-a-comment{
    font-size: 1em;
}

.commenter_avatar{
    width: 80px;
    margin-right: 20px;
}

.comment-container{
    display: flex;
    align-items: center;
    border: 1px solid rgb(213, 209, 209);
    margin: 10px 0 10px 0;
}