#main-content{
    width: 80vw;
    margin: 50px auto 50px auto;
}

.problem-details-container{
    font-size: small;
}

.program-tags-container{
    font-size: small;
}

.problem-details-head{
    font-weight: bold;
}

