{% load static %}
{% load martortags %}

<div class="comment-container">
    <div class="comment-image-container">
        {% if comment.commenter.avatar %}
            <img src="{{ MEDIA_URL }}{{ comment.commenter.avatar.url }}" alt="avatar" class="commenter_avatar">
        {% else %}
            <img src="{% static 'assets/avatar_placeholder.jpg' %}" alt="avatar" class="commenter_avatar">
        {% endif %}
        <div><small>by {{ comment.commenter.username }}</small></div>
        <div><small>{{ comment.created | timesince }} ago</small></div>
    </div>
    <div class="comment-info-container">
        <p>{{ comment.body | safe_markdown }}</p>
    </div>
</div>