{% extends '../_base.html' %}
{% load static %}
{% load users_custom_tags %}

{% block title %}User Profile{% endblock title %}

{% block content %}
<h1>{{ other_user.username }}</h1>
{% if user.avatar %}
    <img src={{ user.avatar.url }} alt="avatar" height="150" width="150">
{% else %}
    <img src="{% static 'assets/avatar_placeholder.jpg' %}" alt="avatar" height="150" width="150">
{% endif %}

<div>Email: {{ user.email }}</div>
<div>{{ user.profile }}</div>

<div>
    <h5>Problems {{ other_user.username }} have created:</h5>
    {% tabularized_problems problems %}
</div>
{% endblock content %}